<h1>Productos</h1>
<div class="form" *ngIf="showForm">
  <div class="mb-5">
    <label for="name">Nombre:</label>
    <input class="form-control" type="text" placeholder="Nombre producto" [(ngModel)]="producto.nombre">
    <label for="name">Precio:</label>
    <input class="form-control" type="number" placeholder="Precio" [(ngModel)]="producto.precio">
    <label for="name">Stock:</label>
    <input class="form-control" type="text" placeholder="Stock" [(ngModel)]="producto.stock">
    <div>
      <button class="btn btn-primary" (click)="save()">Agregar</button>
      <button class="btn btn-danger" (click)="showForm = false">Cancel</button>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="newProducto()">Nuevo producto</button>

<table class='table table-striped mt-2' *ngIf="productos">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productos">
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.stock }}</td>
      </tr>
    </tbody>
  </table>
 
